<div class="container">
  <section class="one">
    <div class="">1</div>
  </section>
  <section class="two">
    <div class="">2</div>
  </section>
  <section class="three">
    <div class="">3</div>
  </section>
  <section class="four">
    <div class="">4</div>
  </section>
</div>
