---
const items = [
  {
    website: "visit site",
    src: "https://cdn2.iconfinder.com/data/icons/school-supplies-7/64/164_school-open-study-education-book-library-256.png",
    url: "https://google.com",
  },
  {
    website: "github",
    src: "https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png",
    url: "https://github.com/elsahv",
  },
];
---

<div class="flex">
  {
    items.map((item) => (
      <div class="px-1">
        <a href={item.url}>
          <img src={item.src} alt={item.website} width={35} height={35} />
        </a>
      </div>
    ))
  }
</div>
