---
const items = [
  {
    subject: "Passions & Interests",
    p: " Highlight LC, RQ, WTBH, Jungle (your main passions, hobbies, or things that drive you) (e.g., travel, technology, art, helping others). -I create cozy, colorful websites",
  },
  {
    subject: " Skills & Strengths ",
    p: "react, javascript, nextJs, vite, sanity, wp, vercel, figma",
  },
  {
    subject: "Personal Philosophy/Values",
    p: "   Share your core values, guiding principles, or a brief personal philosophy. I create cozy, colorful websites",
  },
  {
    subject: "Future Aspirations ",
    p: "   End with a note on your future goals or aspirations, giving readers insight into what you're working toward. I am always looking for opportunities to further my skills... and work with other like minded people in tech. If you would like to contact me, you can reach mehere",
  },
];
---

<div id="about" class="bg- pt-5 pb-5 pl-5">
  <div id="" class="p-5 px-5">
    <div id="" class="md:mr-5 mx-0 lg:p-5 p-0">
      <h1 class="underline text-onyx font-bold mt-5 md:pt-5 pt-0 text-xl">
        A little bit about me...
      </h1>

      <p class="pt-1 pb-2">
        2020-2023: I'm based in Joshua Tree, CA. My days are spent working on my
        websites, and freelance projects. I am also very interested in working
        with other developers to gain team building experience, and build up a
        network to bounce ideas off of. During the last few years, I've learned
        how to program websites using javascript and javascript frameworks. I've
        utilized resources such as: youtube developer tutorials, Freecodecamp,
        The Odin Project and Geeks for Geeks.
        <!-- Background: Include details about your
        background, such as where you're from, educational history, or career
        path. For the past few years, I've dedicated myself to my website
        projects. Work w/ me- using headless /JS/ cms pushing the bounderies of
        design. Services- using WP and custom PHP themes -->
      </p>

      <ul class="pl-1 pt-1">
        {
          items.map((item) => (
            <li class="pt-2 my-3">
              <span class="underline ">{item.subject}:</span>
              {item.p}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
