---

---

<!-- - Introduction: Start with your name and a brief overview of who you are. Mention your profession or primary identity (e.g., student, artist, entrepreneur). -->
<div id="about" class="bg- pt-5 pb-5 md:pl-5 pl-1">
  <div id="" class="bg- p-5 px-5">
    <div id="" class="md:mr-5 mx-0 lg:p-5 p-0">
      <!-- A little bit about me... -->
      <div class="pt-1 pb-2">
        <h1 class="font-semibold text-2xl">
          Hi there, I'm Elsa... a web developer for small businesses and
          creatives.
        </h1>
        <p class="pt-1">
          I'm based in Joshua Tree, CA. Its a place which inpires many colors I
          became interested in programming when I wanted to bring my own passion
          projects to life. My days are spent creating niche websites and
          solutions for small business owners and creatives. My expertise
          currently lies in javascript websites, and freelance wordpress
          projects.
        </p>
        <br />

        <!-- I weave creativity into practical code. During the last few years, I've learned how to program web sites using
        javascript and javascript frameworks. I've utilized resources such as: youtube
        developer tutorials, Freecodecamp, The Odin Project and Geeks for Geeks.
        These are the websites that have been used to not only learn javascript,
        but to bring my passion projects to life. -->
        <!-- Background: Include details about your
        background, such as where you're from, educational history, or career
        path. For the past few years, I've dedicated myself to my website
        projects. Work w/ me- using headless /JS/ cms pushing the bounderies of
        design. Services- using WP and custom PHP themes -->
      </div>
    </div>
  </div>
</div>
