---
import DynamicAbout from "../DynamicAbout.astro";
---

<section id="section-about-me" class="bg- xl:mr-2 pr-1 mt-[150px] pt-5 bg-">
  <DynamicAbout
    mainImg="https://dl.dropboxusercontent.com/scl/fi/tybe501aqn1zvcki59x9h/134213_home_house_building_main_icon.png?rlkey=xqyx8c4vn0cdoizqft7rbkud1&st=agdr5xve&dl=0"
    title="About my journey through my 4 websites"
    paragraph1="My interests with programming started when I wanted to bring my own passion projects to life. [I felt like I was missing out on opportunities with exploring more creative fields, and randomly just started googling html and css stuff. I've been hooked since then, it had felt empowering to do something as simple as changing a 'green square into a pink one.] <---SOMEHOW UTILIZE IN FIRST POST, INTRODUCTION... MAYBE LC?'"
    paragraph2=" I want to prove that it's still possible to create a new career in web development ... even in the age of AI!  I'm still new and learning...but can show you the possibilties by weaving stories, software-development, and web-design together. My goals are to build and grow my 4 side-projects. I'm currently working towards pushing my creativity to the limits, all while exploring side hustle potentials. CONTACT CTA- I am always looking for opportunities to further my skills... and to work with other like-minded people in tech."
  />
</section>

<!-- FJSKLFJSKDL -->
