---
import { Image } from "astro:assets";
import LCimg from "../../images/eh-img.jpg";
---

<div id="about-me" class="mb-5 pb-5 mt-5 my-5 pt-5 py-5">
  <Image src={LCimg} alt="" class="w-1/2 mt-5 pt-5 pr-5 pl-2" />
  <div id="about-me" class="pl-3 pt-5">
    <h2>About Me</h2>
    <p>
      "I'm based in Joshua Tree, CA. Its a place which inpires many colors I
      became interested in programming when I wanted to bring my own passion
      projects to life."
    </p>
    <p>
      "My days are spent creating niche websites and solutions for small
      business owners and creatives.",
    </p>
  </div>
</div>
