---
import AboutContent from "../lc-tests/AboutContent.astro";
---

<div class="px-3 mx-2">
  <AboutContent
    title="About Laughing Coyote Dev"
    paragraph1=" A subscription website service for busy small-businesses owners. "
    paragraph2=" I help small business owners start and maintain their websites, along with content creation."
    paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
    paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
    paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
  />
</div>
