---
import AboutConcepts from "../../components/lc-tests/AboutConcepts.astro";
---

<div id="about-me-wrapper">
  <div id="about-intro" class="ml-2 pl-1 2xl:pr-5 2xl:mr-5 mt-[90px]">
    <h1 class="text-2xl">Hi there, I'm Elsa...</h1>
    <h2 id="tagline" class="text-lg pb-1">
      I weave fictional stories and real-life, web-development stuff together.
      All with javascript-frameworks and custom wordpress-themes.
    </h2>
  </div>
  <div id="about-content-wrapper" class="bg- opacity-90 hover:opacity-100">
    <div id="about-me" class="bg- mb-5 pb-5">
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/v987mn7uciubojuyzt2l0/eh-img.jpg?rlkey=kud67wutqibhy9iwna9z50679&st=4vy6xe1e&dl=0"
        alt=""
        class="2xl:w-1/2 w-3/4 mt-2 pr-5 pl-2"
      />
      <div id="about" class="bg- px-3 pt-5">
        <div id="test1" class="bg-">
          <AboutConcepts
            title="About Me"
            productDef="I'm based in Joshua Tree, CA... I work with Javascript frameworks, and dabble with Wordpress PHP. Expertise gained through project learning and combining unique niches. My interests with programming started when I wanted to bring my own passion projects and tools to life(expand on interwoven: english- skills, nutr dg, web dev self taught). Each website project is built with my own interests in mind. a way to push my creativity to the limits, all while exploring side hustle potential."
            targetAudience=" THE TYPE OF PROJECTS I CODE- (how they help)I help small business owners start and maintain their websites, along with content creation.?"
            mainGoal="I build and declutter messy websites... and turn them into clean, high-performing designs."
            keyFeatures="Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
            audienceMessage="I declutter and build websites with neurodivergent users in mind, and help simplify the overwhelm."
          />
        </div>
        <p class="pl-1">
          Now I do the same for other clients... my days are spent creating
          niche websites and solutions for small business owners and creatives.
          You can read more{" "}
          <a class="underline" href="/laughing-coyote-dev"> here. </a>
        </p>
      </div>
    </div>
  </div>
</div>
