---

---

<div class="px-3 mx-2 bg-">
  <a
    href="https://laughingcoyote.dev"
    target="_blank"
    rel="noopener noreferrer"
    href="/featured-work"
  >
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
      alt=""
      class="border border-gray-300 my-2 mt-5"
    />
  </a>
</div>
