---

---

<!-- <div id="about" class="bg-munsell pt-5 pb-5 pl-5"> -->
<div id="about" class="bg- pt-5 pb-5 pl-5">
  <div id="" class="p-5 px-5">
    <div id="" class="md:mr-5 mx-0 lg:p-5 p-0">
      <!-- <h2 class="font-bold mt-5 md:pt-5 pt-0 text-lg">
        Work w/ me- using headless /JS/ cms
      </h2> -->
      <h1 class="underline text-carribean font-bold mt-5 md:pt-5 pt-0 text-xl">
        About Me
      </h1>

      <p class="">
        For the past few years, I've dedicated myself to my website projects.
        elit. Iuret. Quia delectus quidem natus architecto. Lorem ipsum dolor
        sit amet consectetur adipisicing el delectus quidem natus architecto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eius dolor
        sit amet consectetur adi pisicing elit.Iure eius magnam labore repellat
        beatae it. Iure eius dolor sit amet consectetur adi pisicing elit.Iure
        eius magnam labore repellat beatae molestiae id qui debitis ipsam nemo
        assumenda- Work w/ me- using headless /JS/ cms pushing the bounderies of
        design. Services- using WP and custom PHP themes
      </p>
      <ul class="pl-1 pt-1">
        <li>-skills, bullet pts item 1</li>
        <li>-skills, bullet pts item 2</li>
        <li>-skills, bullet pts item 3</li>
        <li>-skills, bullet pts item 4</li>
        <li>-skills, bullet pts item 4</li>
      </ul>
      <!-- 
      <h2 class="underline text-munsell font-bold mt-5 md:pt-5 pt-0 text-xl">
        Projects Portfolio
      </h2>
      <p class="text-">
        Look down below.... orem ipsum dolor sit amet consectetur adipisicing
        elit. Iure eius magnam labore repellat beatae molestia I'm the developer
        who's built: Laughing Coyote Dev and The Running Quail.
      </p> -->
    </div>
  </div>
</div>
