---
const items = [
   {
     paragraph1:
       "React, JS skills...Hi there... im elsa. I've built javascript projects to not only categorize and simplify my life, but get to be creative too! I'm based in Joshua Tree, CA. Its a place which inpires many colors I became interested in programming when I wanted to bring my own passion projects to life.",
       site1: "laughing Coyote dev",
       site2: "The Running quail"
   },
   {
     paragraph1:
       "PHP WP- y desire to learn js was initated by wanting to be more creative, and to build my 4 projects. By experiencing the process of building up these websites, I've gained not only an ability to work with unique colors, and to learn the skills needed to become a very ideal web developer.",
       site1: "Writing to Better Health",
       site2: "THe Indoor Jungle Project"
   },
  
 ];
---
<div id="" class="mt-5">
    <div id="about-projects" class="2xl:pr-5 2xl:mr-5 pl-4 pr-3">
    <h2>About projects/ learnt skills/ coding experience</h2>
    <div class="bg- pt-1 pb-5 mb-5 ">
      {items.map((item) => (
      
      <p class="">{item.paragraph1}</p>
      <ul class=" list-disc pt-1 pl-5 pb-5 mb-5">
      <li class="">{item.site1} </li>
      <li class="">{item.site2} </li>
    </ul>
      ))}
    
  
  </div>
  </div>
</div>