---
// import AboutContent from "../lc-tests/AboutContent.astro";
---

<div class="px-3 mx-2 bg-">
  <a
    href="https://laughingcoyote.dev"
    target="_blank"
    rel="noopener noreferrer"
    href="/featured-work"
  >
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
      alt=""
      class="border border-gray-300 my-2 mt-5"
    />
  </a>
  <!-- <AboutContent
    title="About Laughing Coyote Dev"
    paragraph1=" A subscription website service for busy small-businesses owners. "
    paragraph2=" I help small business owners start and maintain their websites, along with content creation."
    paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
    paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
    paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
  /> -->
</div>
