---
const items = [
  {
    subject: "Passions & Interests",
    p: " Highlight your main passions, hobbies, or things that drive you (e.g., travel, technology, art, helping others). -I create cozy, colorful websites",
  },
  {
    subject: " Skills & Strengths ",
    p: "    Mention key skills or strengths that define you professionally or personally. -I enjoy coding with Javascript, React.  -I also enjoy php and wordpress.",
  },
  {
    subject: "Personal Philosophy/Values",
    p: "   Share your core values, guiding principles, or a brief personal philosophy.",
  },
  {
    subject: "Future Aspirations ",
    p: "   End with a note on your future goals or aspirations, giving readers insight into what you're working toward.",
  },
];
---

<div id="about" class="bg- pt-5 pb-5 pl-5">
  <div id="" class="p-5 px-5">
    <div id="" class="md:mr-5 mx-0 lg:p-5 p-0">
      <h1 class="underline text-onyx font-bold mt-5 md:pt-5 pt-0 text-xl">
        About Me
      </h1>

      <p class="">
        Background: Include details about your background, such as where you're
        from, educational history, or career path. For the past few years, I've
        dedicated myself to my website projects. e ure eius dolor sit amet
        consectetur adi pisicing elit.Iure eius magnam labore repellat beatae
        it. Iure eius dolor sit amet consectetur adi pisicing elit.Iure eius
        magnam labore repellat beatae molestiae id qui debitis ipsam nemo
        assumenda- Work w/ me- using headless /JS/ cms pushing the bounderies of
        design. Services- using WP and custom PHP themes
      </p>

      <ul class="pl-1 pt-1">
        {
          items.map((item) => (
            <li class="pt-2">
              <span class="underline ">{item.subject}:</span>
              {item.p}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
