---
import DynamicAbout from "../DynamicAbout.astro";
import { RiArrowRightUpFill } from "react-icons/ri";
---

<!-- TODO: FINISH ABOUT-ME CONTENT --v --><!-- *- paragraph1- Background: Include details about your background, such as where you're from, educational history, or career path. --><!-- *- paragraph2- Passions & Interests: Highlight your main passions, hobbies, or things that drive you (e.g., travel, technology, art, helping others). --><!-- *- paragraph3- Skills & Strengths: Mention key skills or strengths that define you professionally or personally. --><!-- *- paragraph4- Personal Philosophy/Values: Share your core values, guiding principles, or a brief personal philosophy. --><!-- *- paragraph5- Future Aspirations: End with a note on your future goals or aspirations, giving readers insight into what you're working toward. --><!-- ? CONTENT TO COME BACK TO: [1].I wanted to utilize my skills from previous work experiences.  [2]. Portfolio-First Design: Build sites that feel like immersive galleries or journals -->
<div id="ABOUT-ME" class="2xl:mr-2 pr-1 mt-5 pt-5">
  <DynamicAbout
    title="Hi there, I'm Elsa."
    mainImg="https://dl.dropboxusercontent.com/scl/fi/v987mn7uciubojuyzt2l0/eh-img.jpg?rlkey=kud67wutqibhy9iwna9z50679&st=4vy6xe1e&dl=0"
    paragraph1="I want to prove that it's still possible to create a new career in web development ... even in the age of AI!  I'm still new and learning...but can show you the possibilties by weaving stories, software-development, and web-design together."
    paragraph2="My interests with programming started when I wanted to bring my own passion projects to life. I had felt that I was missing out on opportunities with exploring more creative fields, and randomly just started googling html and css stuff. I've been hooked since then, it had felt empowering to do something as simple as changing a 'green square into a pink one.'"
    paragraph3="I currently work with javascript-frameworks and custom PHP, wordpress-themes. My expertise with frontend and backend tools were gained through project-learning and combining unique niches.  . "
    paragraph4="I build and declutter messy websites... and turn them into clean, high-performing designs. All of my websites are designed to reduce cognitive overload, maintain focus, and make navigation more straight forward."
    paragraph5="My goals are to build and grow my 4 side-projects. I'm currently working towards pushing my creativity to the limits, all while exploring side hustle potentials. CONTACT CTA- I am always looking for opportunities to further my skills... and to work with other like-minded people in tech."
  />
  <!-- 
  <div
    id="left-panel-lc-cta"
    class="bg-munsell rounded-lg text-aliceBlue p-1 opacity-90 hover:opacity-100"
  >
    <div class="flex items-center">
      <p class="pl-2">
        You can find most of my featured work over at <span
          class="opacity-80 underline"
        >
          <a href="/laughing-coyote-dev"> Laughing Coyote Dev. </a>
        </span>
        <div class="mb-1 ml-1 text-3xl">
          <RiArrowRightUpFill />
        </div>
      </p>
    </div> -->

  <!-- <p class="pl-1">
      Now I do the sa me for other clients... my days are spent creating niche
      websites and solutions for small business owners and creatives. You can
      read more{" "}
      <a class="underline" href="/laughing-coyote-dev"> here. </a>
    </p> -->
  <!-- </div> -->
</div>
<!-- TODO: FINISH  ABOUT-ME  CONTENT --^ -->
