---
import { Image } from "astro:assets";
import Pic1 from "../../../public/mindmaps/map1.jpg";
---

<div
  id="contact"
  class="h-screen md:mt-[100px] mt-1 pt-5 px-5 bg- border-t border-onyx"
>
  <div id="container" class="mt-5 p-5">
    <div id="contact-form-container" class="lg:px-5 px-0 mt-5 bg-">
      <div id="grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-5">
        <div id="sq1" class="text- p-2 pl-5 pt-5">
          <h2 class="font-bold pt-2 text-2xl">Contact-</h2>
          <p class="pt-1">
            Best way to reach me would be through email :<span
              class="font-bold"
            >
              <a href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a>
            </span>
          </p>
          <p class="pt-5">
            I am always looking for opportunities to further my skills... and
            work with other like minded people in tech. If you would like to
            contact me, you can also find me at <i>sm </i>and <i>sm </i>
          </p>
        </div>
        <div id="sq2">
          <Image src={Pic1} alt="" class="border border-rosyBrown" />
        </div>
      </div>
    </div>
  </div>
</div>
