---

---

<div id="contact" class="pt-5 my-[100px] h-3/4 bg-">
  <div id="contact-container" class="md:m-5 mt-5">
    <div id="contact-grid" class="flex flex-col px-5">
      <div id="sq1" class="bg-test pl-5">
        <!-- <h2 class="pt-1 text-3xl font-semibold">Contact</h2> -->
        <p class="font-semibold text-3xl pl-2">
          You can reach me by emailing:<span class="">
            <a
              class="underline hover:opacity-80"
              href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a
            >
          </span>
        </p>
        <p class="bg-test bg- md:pl-3 pt-2 opacity-85 pr-5">
          Email is the best way to get in touch, you can also find me at <span
            class="underline"
          >
            <a href="https://www.instagram.com/elsahoveydevdesign/">instagram</a
            >
          </span> and <span class="underline">
            <a href="https://www.linkedin.com/in/elsa-hovey.com">
              linkedIn.
            </a></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
