---
import ContactForm from "../ContactForm.astro";
---

<!-- <div id="contact" class="h-screen"> -->
<div
  id=""
  class="h-screen md:mt-[100px] mt-1 pt-5 px-5 bg-munsell _shadowText2 border-t border-black"
>
  <div id="container" class="mt-5 p-5 bg-test">
    <div id="contact-form-container" class="lg:px-5 px-0 mt-5 bg-">
      <div id="grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-5">
        <div
          id="sq1"
          class="text-aliceBlue border border-carribean bg- rounded p-2 pl-5 pt-5"
        >
          <h2 class="font-bold pt-2 text-2xl text-aliceBlue">Contact-</h2>
          <p class="pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ea
            maxime consectetur quam facilis vero tempora exercitationem aliquam
            saepe fugiat ex delectus repellat numquam corrupti, odit ullam magni
            hic animi?
          </p>
          <p class="pt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ea
            maxime consectetur quam facilis vero tempora exercitationem aliquam
            saepe fugiat ex delectus repellat numquam corrupti, odit ullam magni
            hic animi?
          </p>
        </div>
        <div id="sq2">
          <ContactForm />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
