---
import DynamicAbout from "../DynamicAbout.astro";
---

<div id="skills-wrapper" class="bg- my-5 p-5">
  <div id="skills-container">
    <h2 class="text-3xl pl-2 pb-1 mt-5">SKILLS:</h2>
    <p class="text-xl pl-2 pb-1 mt-5">What I offer thru my websites ...</p>
    <div
      id="skills-grid"
      class="bg grid 2xl:grid-cols-2 grid-cols-1 gap-5 text-sm"
    >
      <div id="skill-sq1" class="skills-sq">
        <DynamicAbout
          mainImg=" https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fspeed.d312750e.png&w=640&q=75"
          title="Web design"
          paragraph1="WHY- I use WP and react"
          paragraph2="HOW- traditional or headless cms"
        />
      </div>

      <div id="skill-sq2" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcalendar.7dd98075.png&w=640&q=75"
          title="Continuing maintenance & support"
          paragraph1="WHY- it is important to maintain your sites, and how I can take that off your hands."
          paragraph2="HOW- I use only tech that is needed, no BS or filler."
        />
      </div>

      <div id="skill-sq3" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fonline-shop.af9581dd.png&w=640&q=75"
          title="Software development"
          paragraph1="WHY- do I code with javascript or php??"
          paragraph2="HOW- react, vite, astro is used to create beautiful things While social media is great, you do not fully own your own content. When owning a website, you have total control."
        />
      </div>

      <div id="skill-sq4" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fseo.45e35dea.png&w=640&q=75"
          title="Business growth and scale"
          paragraph1="WHY- what do my services do in place of other devs or AI?"
          paragraph2="HOW- do I do this?"
        />
      </div>
    </div>
  </div>
</div>
