---
import DynamicAbout from "../DynamicAbout.astro";
---

<div id="skills-wrapper" class="bg- my-5 p-5">
  <div id="skills-container">
    <h2 class="text-3xl pl-2 pb-1 mt-5">MY SKILLS:</h2>
    <div
      id="skills-grid"
      class="grid 2xl:grid-cols-2 grid-cols-1 gap-5 text-sm"
    >
      <div id="skill-sq1" class="skills-sq">
        <DynamicAbout
          mainImg=" https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fspeed.d312750e.png&w=640&q=75"
          title="Building web homes for people to tell their stories"
          paragraph1="WHY- I like stories and use to propel web dev forward."
          paragraph2="HOW- I use PHP OR JS technologies to brings people's stories online"
        />
      </div>

      <div id="skill-sq2" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcalendar.7dd98075.png&w=640&q=75"
          title="Continuing maintenance & support"
          paragraph1="WHY- it is important to maintain your sites, and how I can take that off your hands."
          paragraph2="HOW- I use only tech that is needed, no BS or filler."
        />
      </div>

      <div id="skill-sq3" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fonline-shop.af9581dd.png&w=640&q=75"
          title="JS frameworks"
          paragraph1="WHY- do I code with javascript??"
          paragraph2="HOW- react, vite, astro is used to create beautiful things While social media is great, you do not fully own your own content. When owning a website, you have total control."
        />
      </div>

      <div id="skill-sq4" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fseo.45e35dea.png&w=640&q=75"
          title="Headless CMS & SEO"
          paragraph1="WHY- I like headless cms tech "
          paragraph2="HOW- I use sanity.io and and other js framework tools"
        />
      </div>

      <div id="skill-sq5" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmobile-phone.ef5fdc86.png&w=640&q=75"
          title="I use PHP to create custom WP themes"
          paragraph1="WHY- I also dabble with php- (language that powers WP (majority of all blog sites)"
          paragraph2="HOW- I use PHP to level up wordpress themes"
        />
      </div>

      <div id="skill-sq6" class="skills-sq">
        <DynamicAbout
          mainImg="https://lc-double-panel-demo.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fscale-up.3b1966b3.png&w=640&q=75"
          title="WP- themes and extensions"
          paragraph1="WHY- WP is still powerful and widely used."
          paragraph2="HOW- I use WP tools to progress."
        />
      </div>
    </div>
  </div>
</div>
