---

---

<div
  class="bg- my-5 pl-5 border border-rosyBrown font-medium rounded-lg py-5 bg-[#f9f9f9]"
>
  <ul class="text-">
    <li class="text-xl font-bold">OVERVIEW:</li>
    <li>not sure what to do with this yet</li>
    <li>I'm assuming a cta to contact and wrap up of about me</li>
    <li>left panel is about me, right is about projects</li>
  </ul>
</div>
