---

---

<div id="work-with-me-content" class="pt-2 md:pl-5 2xl:px-3 2xl:mr-5 2xl:pr-5">
  <div class="">
    <div class="">
      <p class="mt-3 pt-4">
        Ldfsdorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        a, velit, quas tempora vero deleniti placeat sint excepturi soluta
        dolorum consectetur, voluptatibus voluptatum quae eaque doloribus quia
        dolor odio quidem. quas tempora vero deleniti placeat sint excepturi
        soluta dolorum consectetur, voluptatibus voluptatum quae eaque doloribus
        quia dolor odio quidem.
      </p>
    </div>
    <div id="TEST-grid2" class="mt-5 pr-3">
      <div class="grid grid-cols-2 gap-5 mt-5">
        <img
          src="https://images.pexels.com/photos/3046629/pexels-photo-3046629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="border border-gray-400"
        />

        <img
          src="https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="border border-gray-400"
        />

        <img
          src="https://images.pexels.com/photos/11898897/pexels-photo-11898897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="border border-gray-400"
        />

        <img
          src="https://images.pexels.com/photos/2893525/pexels-photo-2893525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="border border-gray-400"
        />
      </div>
    </div>

    <p class="2xl:pt-2 pt-3 2xl:px-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias atque
      dolor quis eveniet tempore rem laborum omnis quisquam quasi eaque modi,
      facere officiis quae maiores. Libero nesciunt sit adipisci sapiente iste
      error officia mollitia illum, hic facilis consequatur veniam! Hic
      reiciendis sunt nulla tempora unde.
    </p>
  </div>
</div>
