---

---

<!-- *THE IDEA IS TO CREATE A CONDITIONAL SIDEBAR AND small sidebar for: work-with-me pg,sideproject pg -->
<div id="test1">sidebar</div>

<!--* FOR SIDEBAR CONTENT (about me, expertise, contact), CREATE DROP DOWN OPTIONS FOR SMALL SIDEBAR -->
