---
import MenuItems from "../MenuItems";
---

<div
  id="left-side-wrapper"
  class="border-r border-black p-5 bg- md:h-screen h-full md:absolute relative md:left-0 sm:bottom-0 md:w-1/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div class="text-5xl">EH</div>
  <MenuItems />
  <img
    src="https://elsahovey.com/_astro/eh-img.BW9mBPY5_5k3C0.webp"
    alt=""
    class="2xl:w-1/2 w-3/4 mt-2 pr-5 pl-2"
  />
</div>
