---
import ContactForm from "../components/ContactForm.astro";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- THIS TEST IS FOR COMBINING markdown header and markdown layout/ lc page -->
<MainLayout>
  <div
    id="left-side-wrapper"
    class="border-r border-black p-5 bg- md:h-screen h-full md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
  >
    <Header />
  </div>
  <div
    id="right-side-markdown-container"
    class="border-l border-onyx h-screen md:absolute relative right-0 md:w-3/5 w-full overflow-y-scroll overflow-x-hidden p-5"
  >
    <div id="contact" class="h-screen md:mt-[100px] mt-1 pt-5">
      <!-- <div id="container" class="mt-5 md:p-5 p-0 bg-"> -->
      <div id="contact-form-container" class="">
        <div id="grid" class="flex flex-col bg-">
          <div id="sq1" class="2xl:pl-5 pl-1 pt-5">
            <p class="pt-1 text-xl font-semibold">
              You can contact me by emailing:<span class="">
                <a
                  class="font-semibold underline text-munsell"
                  href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a
                >
              </span>
            </p>
            <p class="pl-1 pt-1 opacity-85 pr-5">
              I am always looking for opportunities to further my skills... and
              work with other like minded people in tech. If you would like to
              contact me, you can also find me at <i>sm </i>and <i>sm </i>
            </p>
          </div>
          <div id="sq2">
            <!-- <Image src={Pic1} alt="" class="border border-rosyBrown" /> -->
            <ContactForm />
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</MainLayout>
