---
import MainLayout from "../layouts/MainLayout.astro";
import Websites from "../components/sections/Websites.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
---

<MainLayout>
  <!-- ABOUT SECTION -->
  <section id="about">
    <About />
  </section>

  <!-- WEBSITES SECTION -->
  <section id="websites">
    <Websites />
  </section>

  <!-- WEBSITE SECTION -->
  <section id="contact">
    <Contact />
  </section>
</MainLayout>
