---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "../components/Projects.astro";
import Banner from "../components/Banner.astro";
---

<MainLayout>
  <div id="projects" class="">
    <div
      id="projects-container-grid"
      class="flex flex-col-1 md:gap-y-5 gap-y-1"
    >
      <Projects />
    </div>
  </div>
</MainLayout>
