---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "../components/Projects.astro";
---

<MainLayout class="">
  <!-- !REMINDER: THIS HERO SECTION SERVES AS SHORT CTAS LINKS AND INTRO FOR WHOLE SITE v -->
  <div
    id="HERO-CTA"
    class="p-5 bg-munsell border border-black lg:ml-[70px] ml-0 mt-[70px] rounded"
  >
    <h1 class="lg:text-4xl text-3xl capitalize py-1">Portfolio</h1>
    <p class="text-md px-1 py-3">
      I use Laughing Coyote CTA,- for catering for creatives who need a small,
      brochure website. ipsum dolor sit amet consectetur adipisicing elit. Iure
      eius magnam labore adipisicing elit. Iure eius dolor sit amet consectetur
      adipisicing elit. All other projects CTA- Iure eius magnam labore repellat
      beatae molestiae id qui debitis ipsam nemo assumenda.
      <span class="text-carribean font-semibold">
        Check out my projects below.
      </span>
    </p>
  </div>
  <!-- !REMINDER: THIS HERO SECTION SERVES AS SHORT CTAS LINKS AND INTRO FOR WHOLE SITE ^ -->

  <div id="projects" class="flex justify-center">
    <div id="projects-container-grid" class="flex flex-col-1 gap-y-5">
      <!-- <Banner title="Projects" /> -->
      <!-- TODO: create grid vs list view comp with icon v-->
      <!-- icon -->
      <!-- TODO: create grid vs list view comp with icon ^-->

      <Projects />
      <!-- * NEW WEBSITE CARDS ^-->
    </div>
  </div>
</MainLayout>
