---
import MainLayout from "../layouts/MainLayout.astro";
import Banner from "../components/Banner.astro";
import Projects from "../components/Projects.astro";
---

<MainLayout class="">
  <!-- !REMINDER: THIS HERO SECTION SERVES AS SHORT CTAS LINKS AND INTRO FOR WHOLE SITE v -->
  <div
    id="HERO-CTA"
    class="p-5 bg-munsell border-r border-l border-t border-black mt-[70px]"
  >
    <!-- <h1 class="font-bold mt-1 pt-1 text-3xl">
      Hi there, I'm Elsa... a web developer based in Joshua Tree, CA.
    </h1> -->

    <p class="text-md px-1 py-3">
      I build small brochure websites for creatives at
      <a href="/#laughing-coyote-cta">Laughing Coyote </a>
      ipsum dolor sit amet consectetur adipisicing elit. Iure eius magnam labore
      repellat beatae molestiae id qui debitis ipsam nemo assumenda rerum, possimus
      atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Iure eius dolor sit amet consectetur adipisicing
      elit. All other projects CTA-Listed below are some of my featured projects.

      <!-- <span class="text-carribean font-semibold">
        Check out my projects below.
      </span> -->
    </p>
  </div>
  <!-- !REMINDER: THIS HERO SECTION SERVES AS SHORT CTAS LINKS AND INTRO FOR WHOLE SITE ^ -->

  <div id="projects" class="flex justify-center">
    <div id="projects-container-grid" class="flex flex-col-1 gap-y-5">
      <!-- <Banner title="Projects" /> -->
      <!-- TODO: create grid vs list view comp with icon v-->
      <!-- icon -->
      <!-- TODO: create grid vs list view comp with icon ^-->

      <Projects />
      <!-- * NEW WEBSITE CARDS ^-->
    </div>
  </div>
</MainLayout>
