---
import {Image} from "astro:assets"
import EH from "./public/screenshots/eh.png";
---

<div class="">
    <div id="post-header-wrapper" class="text-parchment bg-carribean pl-5">
        <div class="2xl:ml-[72px] ml-0 pt-5 text-lg">
        <a href="/" class="underline hover:text-white"> 
            {'<---'} back to home 
        </a>
        </div>
            <div id="post-header-grid" class="border-b border-black grid 2xl:grid-cols-2 grid-cols-1">
            <div id="bg-test1"class="flex items-center 2xl:justify-center">
            <div class="2xl:pr-5 ml-2 py-2 my-[50px]">
                <h1 class="md:text-5xl text-4xl pb-2 mt-1">Laughing Coyote</h1>
                <div class="md:text-2xl pr-3">the start of a freelancing website for small business/ creative websites</div>
            </div>
        </div>
        <div id="" class="2xl:mr-[50px] mr-[25px] flex items-center bg-teal pb-[35px]">
            <Image src={EH} alt="" class="border-2 border-onyx">
        </div>
    </div>
    </div>
    <div id="body-content" class="text-carribean mt-[45px] 2xl:ml-[450px] lg:ml-[250px] ml-5 mr-[50px] mb-[55px]">
        <span class="text-2xl font-bold">1/28/24</span>
        <h2 class="text-2xl pt-1">eprehenderit est quam a</h2>
   <p class="text-lg mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates d periores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optio accusamus rem, illo voluptas?</p>
   <h2 class="text-2xl pt-4">i magnam aut. Quae i</h2>
   <p class="text-lg mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates dolor laboriosam pe delectus deleniti rerum magni consectetur, dolor, iste explicabo nobis blanditiis ullam beatae odit aspernatur accusamus. Aperiam, debitis ip o accusamus rem, illo voluptas?</p>
   <h2 class="text-2xl pt-4 ">Tempore dolorum voluptates dolor laboriosam pe </h2>
   <p class="text-lg mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates dolor laboriosam pe delectus deleniti rerum magni consectetur, dolor, iste explicabo nobis blanditiis ullam beatae odit aspernatur accusamus. Aperiam, debitis ipsa ad odit in nulla, veniam ea id aliquid molestias, voluptates dolorem voluptatum earum recusandae et possimus asperiores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optio accusamus rem, illo voluptsa ad odit in nulla, veniam ea id aliquid molestias, voluptates dolorem voluptatum earum recusandae et possimus asperiores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optivas?</p> 
</div>
    
</div>      