---
import Banner from "../components/Banner.astro";
// import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
// const allWebsites = await Astro.glob("../pages/websites/*.md");
import pic1 from "../../public/screenshots/lc.png";
import pic2 from "../../public/screenshots/rq.png";
import pic3 from "../../public/screenshots/wtbh.png";
import pic4 from "../../public/screenshots/jungle.png";
import { Image } from "astro:assets";

const items = [
  {
    no: 1,
    pic: pic1,
    description:
      "an online resource to help small businesses get their website started. ",
  },
  {
    no: 2,
    pic: pic2,
    description: "an online bulletin board for the Morongo Basin Community",
  },
  {
    no: 3,
    pic: pic3,
    description: "ADD mindmap/diagrams for bettering health - thru WTBH",
  },
  {
    no: 4,
    pic: pic4,
    description: "a (fictional) horror-themed botany journal",
  },
];
---

<MainLayout class="">
  <Banner title="Projects" />
  <div id="portfolio-wrapper" class="flex 2xl:justify-center justify-end mt-5">
    <div id="portfolio-container" class="2xl:px-[30px] px-0 mt-5 pt-5">
      <div id="portfolio-grid" class="grid 2xl:grid-cols-2 grid-cols-1 gap-7">
        {
          items.map((item) => (
            <div id="sq" class="rounded w-3/4">
              <p>
                {item.no}- {item.description}
              </p>
              <Image src={item.pic} alt="" class="border border-onyx" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
