<main class="max-h-screen snap-y snap-mandatory overflow-y-scroll">
  <section class="snap-start h-screen bg-red-200">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quasi
      iusto nihil adipisci, tempore error! Mollitia odit sunt saepe
      reprehenderit dolor et, delectus sed ullam temporibus quidem illo nostrum
      sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      explicabo impedit nihil rem! Asperiores amet odit unde nam labore harum
      veniam nobis, ad sint hic accusamus doloremque aperiam. Vero voluptate
      facilis, possimus numquam, totam vel velit voluptates esse sapiente
      aliquam cum nostrum impedit deserunt. Rerum cumque quis incidunt eaque
      nihil optio? Aperiam impedit sit sapiente ducimus consequatur at, vitae
      illo tenetur quos doloribus! Ipsum labore nesciunt porro cumque ad
      similique, iusto quos officiis assumenda deleniti culpa modi aut fuga
      pariatur aspernatur magnam est eos blanditiis laborum. Aliquid ullam atque
      consequuntur omnis rem dolor laudantium debitis voluptates beatae ratione
      cupiditate repellendus, consequatur distinctio cum eum nisi explicabo esse
      voluptate corporis quisquam ad commodi sunt deleniti? Mollitia molestias
      fugit rem, tenetur laudantium beatae libero est cupiditate excepturi. Ut
      explicabo sunt repudiandae officiis velit minima qui rem recusandae
      quibusdam ratione, id reprehenderit, laborum magnam ipsam. Eum earum ab,
      harum voluptatum ut amet quibusdam sint itaque, corporis impedit qui
      molestiae. Labore iste minus sit iusto soluta molestias necessitatibus
      quas laudantium temporibus nemo unde sunt, maxime modi nihil consequuntur
      perspiciatis possimus voluptates repellat aspernatur fuga expedita sint
      facilis blanditiis. Molestiae nihil quod temporibus consectetur nobis
      consequuntur. Nostrum dicta natus necessitatibus eum obcaecati quis,
      beatae quia officiis ducimus porro laudantium soluta. Cum quod id, enim
      fugiat debitis a asperiores hic. Commodi voluptatem quia officia maxime
      cupiditate sapiente architecto et consequuntur ipsam atque laudantium,
      quasi debitis exercitationem excepturi doloribus tenetur. Cupiditate
      voluptatum quam eos ab vero in ad ut voluptatem consequatur numquam
      deserunt optio nisi quos officia, distinctio necessitatibus. Deleniti unde
      quidem in veritatis temporibus laudantium ipsum, aspernatur ducimus veniam
      modi cumque dolorum aut, voluptatum, tenetur commodi fugiat necessitatibus
      rem assumenda quas eos eum voluptate laboriosam inventore totam! Minima
      recusandae nam, dolores dolore non tempora soluta esse sit, voluptatem
      eaque fugit officia sequi veritatis accusamus inventore ullam
      perspiciatis, aperiam nulla dignissimos quis. Ut facilis reiciendis est,
      laboriosam repellendus soluta debitis quasi, iste dolorem architecto
      accusantium tempora harum consectetur distinctio quis labore expedita!
      Nisi, eligendi consequuntur. Exercitationem laborum aliquid delectus enim
      corrupti eveniet eum! Magnam obcaecati repudiandae ut. Eos saepe nulla
      dolorem explicabo, itaque eaque amet non ipsa accusamus vel. Soluta facere
      itaque praesentium, non suscipit nostrum ipsum sunt delectus ipsa dolores,
      voluptas maxime ex velit minus officiis commodi? Veritatis fugiat quae
      dolores, nobis expedita quos hic tempora dignissimos atque recusandae
      velit reprehenderit corrupti placeat doloremque nihil voluptatibus omnis!
      Voluptatem molestias consectetur officia enim repellat ipsa earum suscipit
      eaque pariatur labore vero ad, praesentium in! Eligendi itaque dolor
      expedita officiis corporis autem quos dignissimos dolorem, qui magnam
      dolores suscipit veritatis officia similique cum accusantium neque. Vitae
      harum numquam, sunt est voluptatem deleniti cupiditate nesciunt aliquam
      hic magni itaque animi placeat omnis voluptatibus fugit fuga. Eos id animi
      neque corrupti quasi omnis aut at sapiente. Mollitia iusto enim
      consequuntur porro vel. In sed itaque quod tenetur odit eaque maxime,
      aspernatur amet sunt tempore ipsa placeat repellat praesentium deleniti
      fugit. Officiis saepe facere nobis reprehenderit repellendus cum quae,
      odio, non aperiam asperiores sunt excepturi modi? Reiciendis illo nemo
      ullam cupiditate!
    </p>
  </section>
  <section class="snap-start h-screen bg-blue-200">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quasi
      iusto nihil adipisci, tempore error! Mollitia odit sunt saepe
      reprehenderit dolor et, delectus sed ullam temporibus quidem illo nostrum
      sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      explicabo impedit nihil rem! Asperiores amet odit unde nam labore harum
      veniam nobis, ad sint hic accusamus doloremque aperiam. Vero voluptate
      facilis, possimus numquam, totam vel velit voluptates esse sapiente
      aliquam cum nostrum impedit deserunt. Rerum cumque quis incidunt eaque
      nihil optio? Aperiam impedit sit sapiente ducimus consequatur at, vitae
      illo tenetur quos doloribus! Ipsum labore nesciunt porro cumque ad
      similique, iusto quos officiis assumenda deleniti culpa modi aut fuga
      pariatur aspernatur magnam est eos blanditiis laborum. Aliquid ullam atque
      consequuntur omnis rem dolor laudantium debitis voluptates beatae ratione
      cupiditate repellendus, consequatur distinctio cum eum nisi explicabo esse
      voluptate corporis quisquam ad commodi sunt deleniti? Mollitia molestias
      fugit rem, tenetur laudantium beatae libero est cupiditate excepturi. Ut
      explicabo sunt repudiandae officiis velit minima qui rem recusandae
      quibusdam ratione, id reprehenderit, laborum magnam ipsam. Eum earum ab,
      harum voluptatum ut amet quibusdam sint itaque, corporis impedit qui
      molestiae. Labore iste minus sit iusto soluta molestias necessitatibus
      quas laudantium temporibus nemo unde sunt, maxime modi nihil consequuntur
      perspiciatis possimus voluptates repellat aspernatur fuga expedita sint
      facilis blanditiis. Molestiae nihil quod temporibus consectetur nobis
      consequuntur. Nostrum dicta natus necessitatibus eum obcaecati quis,
      beatae quia officiis ducimus porro laudantium soluta. Cum quod id, enim
      fugiat debitis a asperiores hic. Commodi voluptatem quia officia maxime
      cupiditate sapiente architecto et consequuntur ipsam atque laudantium,
      quasi debitis exercitationem excepturi doloribus tenetur. Cupiditate
      voluptatum quam eos ab vero in ad ut voluptatem consequatur numquam
      deserunt optio nisi quos officia, distinctio necessitatibus. Deleniti unde
      quidem in veritatis temporibus laudantium ipsum, aspernatur ducimus veniam
      modi cumque dolorum aut, voluptatum, tenetur commodi fugiat necessitatibus
      rem assumenda quas eos eum voluptate laboriosam inventore totam! Minima
      recusandae nam, dolores dolore non tempora soluta esse sit, voluptatem
      eaque fugit officia sequi veritatis accusamus inventore ullam
      perspiciatis, aperiam nulla dignissimos quis. Ut facilis reiciendis est,
      laboriosam repellendus soluta debitis quasi, iste dolorem architecto
      accusantium tempora harum consectetur distinctio quis labore expedita!
      Nisi, eligendi consequuntur. Exercitationem laborum aliquid delectus enim
      corrupti eveniet eum! Magnam obcaecati repudiandae ut. Eos saepe nulla
      dolorem explicabo, itaque eaque amet non ipsa accusamus vel. Soluta facere
      itaque praesentium, non suscipit nostrum ipsum sunt delectus ipsa dolores,
      voluptas maxime ex velit minus officiis commodi? Veritatis fugiat quae
      dolores, nobis expedita quos hic tempora dignissimos atque recusandae
      velit reprehenderit corrupti placeat doloremque nihil voluptatibus omnis!
      Voluptatem molestias consectetur officia enim repellat ipsa earum suscipit
      eaque pariatur labore vero ad, praesentium in! Eligendi itaque dolor
      expedita officiis corporis autem quos dignissimos dolorem, qui magnam
      dolores suscipit veritatis officia similique cum accusantium neque. Vitae
      harum numquam, sunt est voluptatem deleniti cupiditate nesciunt aliquam
      hic magni itaque animi placeat omnis voluptatibus fugit fuga. Eos id animi
      neque corrupti quasi omnis aut at sapiente. Mollitia iusto enim
      consequuntur porro vel. In sed itaque quod tenetur odit eaque maxime,
      aspernatur amet sunt tempore ipsa placeat repellat praesentium deleniti
      fugit. Officiis saepe facere nobis reprehenderit repellendus cum quae,
      odio, non aperiam asperiores sunt excepturi modi? Reiciendis illo nemo
      ullam cupiditate!
    </p>
  </section>
  <section class="snap-start h-screen bg-green-200">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quasi
      iusto nihil adipisci, tempore error! Mollitia odit sunt saepe
      reprehenderit dolor et, delectus sed ullam temporibus quidem illo nostrum
      sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      explicabo impedit nihil rem! Asperiores amet odit unde nam labore harum
      veniam nobis, ad sint hic accusamus doloremque aperiam. Vero voluptate
      facilis, possimus numquam, totam vel velit voluptates esse sapiente
      aliquam cum nostrum impedit deserunt. Rerum cumque quis incidunt eaque
      nihil optio? Aperiam impedit sit sapiente ducimus consequatur at, vitae
      illo tenetur quos doloribus! Ipsum labore nesciunt porro cumque ad
      similique, iusto quos officiis assumenda deleniti culpa modi aut fuga
      pariatur aspernatur magnam est eos blanditiis laborum. Aliquid ullam atque
      consequuntur omnis rem dolor laudantium debitis voluptates beatae ratione
      cupiditate repellendus, consequatur distinctio cum eum nisi explicabo esse
      voluptate corporis quisquam ad commodi sunt deleniti? Mollitia molestias
      fugit rem, tenetur laudantium beatae libero est cupiditate excepturi. Ut
      explicabo sunt repudiandae officiis velit minima qui rem recusandae
      quibusdam ratione, id reprehenderit, laborum magnam ipsam. Eum earum ab,
      harum voluptatum ut amet quibusdam sint itaque, corporis impedit qui
      molestiae. Labore iste minus sit iusto soluta molestias necessitatibus
      quas laudantium temporibus nemo unde sunt, maxime modi nihil consequuntur
      perspiciatis possimus voluptates repellat aspernatur fuga expedita sint
      facilis blanditiis. Molestiae nihil quod temporibus consectetur nobis
      consequuntur. Nostrum dicta natus necessitatibus eum obcaecati quis,
      beatae quia officiis ducimus porro laudantium soluta. Cum quod id, enim
      fugiat debitis a asperiores hic. Commodi voluptatem quia officia maxime
      cupiditate sapiente architecto et consequuntur ipsam atque laudantium,
      quasi debitis exercitationem excepturi doloribus tenetur. Cupiditate
      voluptatum quam eos ab vero in ad ut voluptatem consequatur numquam
      deserunt optio nisi quos officia, distinctio necessitatibus. Deleniti unde
      quidem in veritatis temporibus laudantium ipsum, aspernatur ducimus veniam
      modi cumque dolorum aut, voluptatum, tenetur commodi fugiat necessitatibus
      rem assumenda quas eos eum voluptate laboriosam inventore totam! Minima
      recusandae nam, dolores dolore non tempora soluta esse sit, voluptatem
      eaque fugit officia sequi veritatis accusamus inventore ullam
      perspiciatis, aperiam nulla dignissimos quis. Ut facilis reiciendis est,
      laboriosam repellendus soluta debitis quasi, iste dolorem architecto
      accusantium tempora harum consectetur distinctio quis labore expedita!
      Nisi, eligendi consequuntur. Exercitationem laborum aliquid delectus enim
      corrupti eveniet eum! Magnam obcaecati repudiandae ut. Eos saepe nulla
      dolorem explicabo, itaque eaque amet non ipsa accusamus vel. Soluta facere
      itaque praesentium, non suscipit nostrum ipsum sunt delectus ipsa dolores,
      voluptas maxime ex velit minus officiis commodi? Veritatis fugiat quae
      dolores, nobis expedita quos hic tempora dignissimos atque recusandae
      velit reprehenderit corrupti placeat doloremque nihil voluptatibus omnis!
      Voluptatem molestias consectetur officia enim repellat ipsa earum suscipit
      eaque pariatur labore vero ad, praesentium in! Eligendi itaque dolor
      expedita officiis corporis autem quos dignissimos dolorem, qui magnam
      dolores suscipit veritatis officia similique cum accusantium neque. Vitae
      harum numquam, sunt est voluptatem deleniti cupiditate nesciunt aliquam
      hic magni itaque animi placeat omnis voluptatibus fugit fuga. Eos id animi
      neque corrupti quasi omnis aut at sapiente. Mollitia iusto enim
      consequuntur porro vel. In sed itaque quod tenetur odit eaque maxime,
      aspernatur amet sunt tempore ipsa placeat repellat praesentium deleniti
      fugit. Officiis saepe facere nobis reprehenderit repellendus cum quae,
      odio, non aperiam asperiores sunt excepturi modi? Reiciendis illo nemo
      ullam cupiditate!
    </p>
  </section>
  <section class="snap-start h-screen bg-indigo-200">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quasi
      iusto nihil adipisci, tempore error! Mollitia odit sunt saepe
      reprehenderit dolor et, delectus sed ullam temporibus quidem illo nostrum
      sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      explicabo impedit nihil rem! Asperiores amet odit unde nam labore harum
      veniam nobis, ad sint hic accusamus doloremque aperiam. Vero voluptate
      facilis, possimus numquam, totam vel velit voluptates esse sapiente
      aliquam cum nostrum impedit deserunt. Rerum cumque quis incidunt eaque
      nihil optio? Aperiam impedit sit sapiente ducimus consequatur at, vitae
      illo tenetur quos doloribus! Ipsum labore nesciunt porro cumque ad
      similique, iusto quos officiis assumenda deleniti culpa modi aut fuga
      pariatur aspernatur magnam est eos blanditiis laborum. Aliquid ullam atque
      consequuntur omnis rem dolor laudantium debitis voluptates beatae ratione
      cupiditate repellendus, consequatur distinctio cum eum nisi explicabo esse
      voluptate corporis quisquam ad commodi sunt deleniti? Mollitia molestias
      fugit rem, tenetur laudantium beatae libero est cupiditate excepturi. Ut
      explicabo sunt repudiandae officiis velit minima qui rem recusandae
      quibusdam ratione, id reprehenderit, laborum magnam ipsam. Eum earum ab,
      harum voluptatum ut amet quibusdam sint itaque, corporis impedit qui
      molestiae. Labore iste minus sit iusto soluta molestias necessitatibus
      quas laudantium temporibus nemo unde sunt, maxime modi nihil consequuntur
      perspiciatis possimus voluptates repellat aspernatur fuga expedita sint
      facilis blanditiis. Molestiae nihil quod temporibus consectetur nobis
      consequuntur. Nostrum dicta natus necessitatibus eum obcaecati quis,
      beatae quia officiis ducimus porro laudantium soluta. Cum quod id, enim
      fugiat debitis a asperiores hic. Commodi voluptatem quia officia maxime
      cupiditate sapiente architecto et consequuntur ipsam atque laudantium,
      quasi debitis exercitationem excepturi doloribus tenetur. Cupiditate
      voluptatum quam eos ab vero in ad ut voluptatem consequatur numquam
      deserunt optio nisi quos officia, distinctio necessitatibus. Deleniti unde
      quidem in veritatis temporibus laudantium ipsum, aspernatur ducimus veniam
      modi cumque dolorum aut, voluptatum, tenetur commodi fugiat necessitatibus
      rem assumenda quas eos eum voluptate laboriosam inventore totam! Minima
      recusandae nam, dolores dolore non tempora soluta esse sit, voluptatem
      eaque fugit officia sequi veritatis accusamus inventore ullam
      perspiciatis, aperiam nulla dignissimos quis. Ut facilis reiciendis est,
      laboriosam repellendus soluta debitis quasi, iste dolorem architecto
      accusantium tempora harum consectetur distinctio quis labore expedita!
      Nisi, eligendi consequuntur. Exercitationem laborum aliquid delectus enim
      corrupti eveniet eum! Magnam obcaecati repudiandae ut. Eos saepe nulla
      dolorem explicabo, itaque eaque amet non ipsa accusamus vel. Soluta facere
      itaque praesentium, non suscipit nostrum ipsum sunt delectus ipsa dolores,
      voluptas maxime ex velit minus officiis commodi? Veritatis fugiat quae
      dolores, nobis expedita quos hic tempora dignissimos atque recusandae
      velit reprehenderit corrupti placeat doloremque nihil voluptatibus omnis!
      Voluptatem molestias consectetur officia enim repellat ipsa earum suscipit
      eaque pariatur labore vero ad, praesentium in! Eligendi itaque dolor
      expedita officiis corporis autem quos dignissimos dolorem, qui magnam
      dolores suscipit veritatis officia similique cum accusantium neque. Vitae
      harum numquam, sunt est voluptatem deleniti cupiditate nesciunt aliquam
      hic magni itaque animi placeat omnis voluptatibus fugit fuga. Eos id animi
      neque corrupti quasi omnis aut at sapiente. Mollitia iusto enim
      consequuntur porro vel. In sed itaque quod tenetur odit eaque maxime,
      aspernatur amet sunt tempore ipsa placeat repellat praesentium deleniti
      fugit. Officiis saepe facere nobis reprehenderit repellendus cum quae,
      odio, non aperiam asperiores sunt excepturi modi? Reiciendis illo nemo
      ullam cupiditate!
    </p>
  </section>
  <section class="snap-start h-screen bg-yellow-200">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quasi
      iusto nihil adipisci, tempore error! Mollitia odit sunt saepe
      reprehenderit dolor et, delectus sed ullam temporibus quidem illo nostrum
      sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      explicabo impedit nihil rem! Asperiores amet odit unde nam labore harum
      veniam nobis, ad sint hic accusamus doloremque aperiam. Vero voluptate
      facilis, possimus numquam, totam vel velit voluptates esse sapiente
      aliquam cum nostrum impedit deserunt. Rerum cumque quis incidunt eaque
      nihil optio? Aperiam impedit sit sapiente ducimus consequatur at, vitae
      illo tenetur quos doloribus! Ipsum labore nesciunt porro cumque ad
      similique, iusto quos officiis assumenda deleniti culpa modi aut fuga
      pariatur aspernatur magnam est eos blanditiis laborum. Aliquid ullam atque
      consequuntur omnis rem dolor laudantium debitis voluptates beatae ratione
      cupiditate repellendus, consequatur distinctio cum eum nisi explicabo esse
      voluptate corporis quisquam ad commodi sunt deleniti? Mollitia molestias
      fugit rem, tenetur laudantium beatae libero est cupiditate excepturi. Ut
      explicabo sunt repudiandae officiis velit minima qui rem recusandae
      quibusdam ratione, id reprehenderit, laborum magnam ipsam. Eum earum ab,
      harum voluptatum ut amet quibusdam sint itaque, corporis impedit qui
      molestiae. Labore iste minus sit iusto soluta molestias necessitatibus
      quas laudantium temporibus nemo unde sunt, maxime modi nihil consequuntur
      perspiciatis possimus voluptates repellat aspernatur fuga expedita sint
      facilis blanditiis. Molestiae nihil quod temporibus consectetur nobis
      consequuntur. Nostrum dicta natus necessitatibus eum obcaecati quis,
      beatae quia officiis ducimus porro laudantium soluta. Cum quod id, enim
      fugiat debitis a asperiores hic. Commodi voluptatem quia officia maxime
      cupiditate sapiente architecto et consequuntur ipsam atque laudantium,
      quasi debitis exercitationem excepturi doloribus tenetur. Cupiditate
      voluptatum quam eos ab vero in ad ut voluptatem consequatur numquam
      deserunt optio nisi quos officia, distinctio necessitatibus. Deleniti unde
      quidem in veritatis temporibus laudantium ipsum, aspernatur ducimus veniam
      modi cumque dolorum aut, voluptatum, tenetur commodi fugiat necessitatibus
      rem assumenda quas eos eum voluptate laboriosam inventore totam! Minima
      recusandae nam, dolores dolore non tempora soluta esse sit, voluptatem
      eaque fugit officia sequi veritatis accusamus inventore ullam
      perspiciatis, aperiam nulla dignissimos quis. Ut facilis reiciendis est,
      laboriosam repellendus soluta debitis quasi, iste dolorem architecto
      accusantium tempora harum consectetur distinctio quis labore expedita!
      Nisi, eligendi consequuntur. Exercitationem laborum aliquid delectus enim
      corrupti eveniet eum! Magnam obcaecati repudiandae ut. Eos saepe nulla
      dolorem explicabo, itaque eaque amet non ipsa accusamus vel. Soluta facere
      itaque praesentium, non suscipit nostrum ipsum sunt delectus ipsa dolores,
      voluptas maxime ex velit minus officiis commodi? Veritatis fugiat quae
      dolores, nobis expedita quos hic tempora dignissimos atque recusandae
      velit reprehenderit corrupti placeat doloremque nihil voluptatibus omnis!
      Voluptatem molestias consectetur officia enim repellat ipsa earum suscipit
      eaque pariatur labore vero ad, praesentium in! Eligendi itaque dolor
      expedita officiis corporis autem quos dignissimos dolorem, qui magnam
      dolores suscipit veritatis officia similique cum accusantium neque. Vitae
      harum numquam, sunt est voluptatem deleniti cupiditate nesciunt aliquam
      hic magni itaque animi placeat omnis voluptatibus fugit fuga. Eos id animi
      neque corrupti quasi omnis aut at sapiente. Mollitia iusto enim
      consequuntur porro vel. In sed itaque quod tenetur odit eaque maxime,
      aspernatur amet sunt tempore ipsa placeat repellat praesentium deleniti
      fugit. Officiis saepe facere nobis reprehenderit repellendus cum quae,
      odio, non aperiam asperiores sunt excepturi modi? Reiciendis illo nemo
      ullam cupiditate!
    </p>
  </section>
</main>
