---
import {Image} from "astro:assets"
import EH from "./public/screenshots/eh.png";
---


<div class="bg-munsell">
    <div id="post-header-wrapper" class="text-parchment  bg-onyx">
        
        <div class="ml-[72px] pl-3 pt-5 text-lg">
        <a href="/">
            {'<---'}  
            
        </a>
        </div>
        
        
            <div id="post-header-grid" class="h-[600px] grid grid-cols-2">
            <div id="bg-test1"class="flex items-center justify-center">
            <div>
                <h1 class="text-5xl pb-2 mt-1">The Indoor Jungle Project</h1>
                <div class="text-2xl">the start of a freelancing website for small business/ creative websites</div>
            </div>
        </div>
        <div id="bg-test2" class="flex items-center ">
            <Image src={EH} alt="" class="">
        </div>
    </div>
    </div>
    <div class="mt-[50px] ml-[450px] ">
        <h2 class="text-2xl">eprehenderit est quam a</h2>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates d periores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optio accusamus rem, illo voluptas?</p>
   <h2 class="text-2xl">i magnam aut. Quae i</h2>
   o nobis blanditiis ullam beatae odit aspernatur accusamus. Aperiam, debitis ipsa ad odit in nulla, veniam ea id aliquid molestias, voluptates dolorem voluptatum earum recusandae et possimus asperiores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates dolor laboriosam pe delectus deleniti rerum magni consectetur, dolor, iste explicabo nobis blanditiis ullam beatae odit aspernatur accusamus. Aperiam, debitis ip o accusamus rem, illo voluptas?</p>
   <h2 class="text-2xl">Tempore dolorum voluptates dolor laboriosam pe </h2>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorum voluptates dolor laboriosam pe delectus deleniti rerum magni consectetur, dolor, iste explicabo nobis blanditiis ullam beatae odit aspernatur accusamus. Aperiam, debitis ipsa ad odit in nulla, veniam ea id aliquid molestias, voluptates dolorem voluptatum earum recusandae et possimus asperiores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optio accusamus rem, illo voluptsa ad odit in nulla, veniam ea id aliquid molestias, voluptates dolorem voluptatum earum recusandae et possimus asperiores veritatis cumque placeat harum facilis accusantium animi magnam aut. Quae ipsa reprehenderit est quam animi repellendus? Necessitatibus porro sapiente deleniti culpa quo similique, quod optivas?</p> 
</div>
    
</div>      