---
import MainLayout from "../layouts/MainLayout.astro";
import BackBtn from "../components/ui/BackBtn.astro";
import LeftPanel from "../layouts/LeftPanel.astro";
import AboutContent from "../components/lc-tests/AboutContent.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <LeftPanel />
  <div
    id="right-side-markdown-wrapper"
    class="flex justify-center border-l border-onyx md:h-screen h-full md:absolute relative right-0 md:w-3/5 overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3"
  >
    <!-- <BackBtn /> -->
    <div
      id="right-side-markdown-container"
      class="bg- md:p-5 mt-[90px] 2xl:ml-[50px] 2xl:mr-[50px]"
    >
      <h1 id="" class="pl-1 2xl: text-7xl text-bold">
        <!-- Featured Website -->
        I build websites for...
      </h1>
      <div id="" class="bg- px-5 mt-[90px] mx-5 pl-2 pt-2 pr-1 bg-">
        <!-- VVVvvvvvvvvvvvvvvvvvv -->
        <!-- SECTION 1 --v -->
        <section class="grid grid-cols-1 gap-x-10 gap-y-24">
          <div id="about-laughing-coyote-dev" class="bg- [mt-100px] mb-[50px]">
            <AboutContent
              primaryImage="https://images.pexels.com/photos/313690/pexels-photo-313690.jpeg?_gl=1*1qv1sgi*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NTgyNTAwMzckbzEkZzEkdDE3NTgyNTAwNjgkajI5JGwwJGgw"
              secondaryImage="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
              imageLink="https://laughingcoyote.dev"
              title="small businesses"
              websiteTitle=" Laughing Coyote Dev"
              paragraph1=" A subscription website service for busy small-businesses owners. "
              paragraph2=" I help small business owners start and maintain their websites, along with content creation."
              paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
              paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
              paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
            />
          </div>

          <!-- SECTION 2 --v -->
          <div id="about-wtbh" class="">
            <AboutContent
              secondaryImage="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
              primaryImage="https://images.pexels.com/photos/6041284/pexels-photo-6041284.jpeg?_gl=1*1ds56fj*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NTgyNTAwMzckbzEkZzEkdDE3NTgyNTA0MzIkajMwJGwwJGgw"
              imageLink="https://therunningquail.com"
              title="for sharing stories"
              websiteTitle=" The Running Quail"
              paragraph1=" A subscription website service for busy small-businesses owners. "
              paragraph2=" I help small business owners start and maintain their websites, along with content creation."
              paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
              paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
              paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
            />
          </div>

          <!-- SECTION 3 --v -->
          <div id="about-jungle" class="bg- my-[50px]">
            <AboutContent
              primaryImage="https://images.pexels.com/photos/13013228/pexels-photo-13013228.jpeg?_gl=1*1dxvdji*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NTgyNTAwMzckbzEkZzEkdDE3NTgyNTAzMTkkajE3JGwwJGgw"
              secondaryImage="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=1nuybim1&dl=0"
              imageLink="https://theindoorjungleproject.com"
              title="for creatives"
              websiteTitle="The Indoor Jungle Project"
              paragraph1=" A subscription website service for busy small-businesses owners. "
              paragraph2=" I help small business owners start and maintain their websites, along with content creation."
              paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
              paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
              paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
            />
          </div>

          <!-- SECTION 4 --v -->

          <div id="about-wtbh" class="my-[50px]">
            <AboutContent
              primaryImage="https://images.pexels.com/photos/9816/pexels-photo-9816.jpeg?_gl=1*ucgrfh*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NTgyNTAwMzckbzEkZzEkdDE3NTgyNTA1ODkkajckbDAkaDA."
              secondaryImage="https://dl.dropboxusercontent.com/scl/fi/jtfnbqyqk5ly03x5kspuz/wtbh-3-26-24.png?rlkey=0igc90thtm07w1i9cardfeu3h&st=biaw8vht&dl=0"
              imageLink="https://writingtobetterhealth.com"
              title="for bringing people together"
              websiteTitle=" Writing to Better Health"
              paragraph1=" A subscription website service for busy small-businesses owners. "
              paragraph2=" I help small business owners start and maintain their websites, along with content creation."
              paragraph3="  Where user stories are translated into vivid, handcrafted websites. Each site is designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. I help small business owners start and maintain their websites, along with content creation."
              paragraph5="More than just a website, a viewing experience that conveys your message.Designed to reduce cognitive overload, maintain focus, and make navigation intuitive for users with attention differences. Portfolio-First Design: Build sites that feel like immersive galleries or journals"
              paragraph4="Focused on bringing more colors and creativity to the world-roof (write more about styles of roofs pup, carnivore, wtbh, rq. Storytelling Frameworks: Let creatives tell their brand story visually and emotionally."
            />
          </div>
        </section>
        <BackBtn />
      </div>
      <Footer />
    </div>
  </div>
  <!-- ^^^^^^^^^^^^^^^^ -->
</MainLayout>
