---
import Banner from "../components/Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <Banner title="work with me" />
  <div id="wrapper" class="p-5 mt-[90px]">
    <div id="container" class="p-5">
      <h2 class="font-bold mt-5 pt-5 text-lg">
        Services- using headless /JS/ cms
      </h2>
      <p>
        <span class="text-carribean font-semibold"
          >Laughing Coyote CTA-
        </span>pushing the bounderies of design. elit. Iure eius magnam labore
        repellat beatae molestiae id qui debitis ipsam nemo assumenda rerum,
        possimus atque quaerat. Quia delectus quidem natus architecto. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Iure eius dolor sit
        amet consectetur adipisicing elit. <span
          class="text-carribean font-semibold"
          >All other projects CTA-
        </span>Iure eius magnam labore repellat beatae molestiae id qui debitis
        ipsam nemo assumenda
      </p>
      <h2 class="font-bold mt-5 pt-5 text-md">
        Services- using WP and custom PHP themes
      </h2>
      <p>
        Look into other solo web dev portfolios for inspiration- orem ipsum
        dolor sit amet consectetur adipisicing elit. Iure eius magnam labore
        repellat beatae molestiae id qui debitis ipsam nemo assumenda rerum,
        possimus atque quaerat. Quia delectus quidem natus architecto.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eius
        magnam labore repellat beatae molestiae id qui debitis ipsam nemo
        assumenda rerum, possimus atque quaerat. Quia delectus quidem natus
        architecto. Lor ing elit. Iure eius magnam labore repellat beatae
        molestiae id qui debitis ipsam nemo assumenda rerum, possimus atque
        quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Iure eius magnam labore repellat
        beatae molestiae id qui debitis ipsam nemo assumenda . Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Iure eius magnam labore repellat
        beatae molestiae id qui debitis ipsam nemo assumenda
      </p>
      <ul class="pt-5 mt-2">
        <li class="pb-1">
          <a href="/#projects" class="underline text-onyx">Projects CTA</a>
        </li>
        <li>
          <a href="/contact" class="underline text-onyx">Contact cta</a>
        </li>
      </ul>
    </div>
  </div>
</MainLayout>
