---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div
  id="banner-wrapper"
  class="mt-[70px] rounded bg-munsell px-3 border border-black"
>
  <h1 class="text-4xl capitalize py-4">{title}</h1>
</div>
