---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div id="wrapper" class="bg-munsell border border-black rounded py-2 px-3">
  <h1 class="text-4xl capitalize py-2 px-2">{title}</h1>
</div>
