---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div
  id="banner-wrapper"
  class="mt-[0px] px-5 bg-munsell border-b-2 border-carribean"
>
  <h1 class="text-4xl capitalize py-4">{title}</h1>
</div>
