---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<div id="js" class="mr-5 pr-5 text-2xl text-onyx underline">
  <h2 class="font-semibold text-3xl underline pb-1 text-onyx">
    {title}
  </h2>

  <p class="pr-5 mr-5 md:px-5 px-3 md:pb-2 pb-3 text-lg opacity-90">
    {paragraph}
  </p>
</div>
