---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div
  id="banner-wrapper"
  class="bg-munsell border-b-2 border-carribean lg:text-left text-center lg:pl-5"
>
  <h1 class="md:text-4xl text-3xl capitalize py-4">{title}</h1>
</div>
