---
export interface Props {
  title: string;
  p: string;
  url: string;
  image: any;
}

const { title, p, url, image } = Astro.props as Props;
---

<div
  id="sq"
  class="p-5 m-5 rounded-md mt-5 grayscale hover:grayscale-0 transition duration-290 ease-in-out"
>
  <a href={url}>
    <div class="p-3 mt-5">
      <h2 class="text-2xl font-bold capitalize">{title}</h2>
      <img src={image} class="w-full" />
      <p class="p-3">{p}</p>
    </div>
  </a>
</div>
