<div id="form-container" class="2xl:px-5">
  <form class="flex flex-col gap-5 mt-5">
    <input
      class="border border-onyx rounded px-1 py-2 bg-aquamarine"
      placeholder="first name"
    />
    <input
      class="border border-onyx rounded px-1 py-2 bg-aquamarine"
      placeholder="email"
    />
    <!-- <label>message</label> -->
    <textarea
      class="border border-onyx rounded pt-2 pl-1 bg-aquamarine h-32"
      placeholder="message"></textarea>
  </form>
</div>
