---
// import { FaLinkedin, FaYelp } from "react-icons/fa";
const today = new Date();
---

<footer class="relative bottom-0 opacity-50">
  <div
    class="text-carribean bg-aquamarine border-t-2 border-black text-lg flex justify-center items-center py-5"
  >
    {/* //todo later: MAKE VISIBLE IF FOLLOW THROUGH v */}
    <!-- <FaLinkedin class="" /> -->
    <!-- <FaYelp class="" /> -->
    {/* //todo later: MAKE VISIBLE IF FOLLOW THROUGH v */}
    <p class="pl-2 ml-5">&copy; {today.getFullYear()}</p>
  </div>
</footer>
