---
// import { FaLinkedin, FaYelp } from "react-icons/fa";
const today = new Date();
---

<footer
  id="projects-footer"
  class="fixed bottom-0 border-t border-r rounded-tr-sm border-black pr-1 md:opacity-60 opacity-100 bg-aliceBlue"
>
  <p class="md:text-md text-sm">&copy; {today.getFullYear()}</p>
</footer>
