<!-- *: HEADER -->
<header>
  <nav class="bg-">
    <div id="logo" class="text-9xl pb-1">Elsa Hovey</div>
    <ul class="text-3xl pl-3 px-3 py-3 mt-5 border-black border-t border-b">
      <li>about</li>
      <li>services</li>
      <li>contact</li>
    </ul>
  </nav>
</header>
<!-- *: HEADER  -->
