---
const items = [
  { item1: "about me", link: "/#about-me" },
  { item1: "about projects", link: "/#about-projects" },
  { item1: "contact", link: "/#wcontact" },
];
---

<header>
  <nav class="bg-">
    <div id="logo" class="text-8xl pb-1">Elsa Hovey</div>
    <ul class="text-2xl pl-3 px-3 py-3 mt-5 border-black border-t-2 border-b-2">
      {
        items.map((item) => (
          <li>
            <a href={item.link}>{item.item1}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
