---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";
import MenuItems from "./MenuItems.astro";
---

<header
  class="pb-[45px] md:fixed relative md:left-0 top-0 z-50 h-screen
  2xl:w-1/4
   lg:w-[390px]
   md:w-[345px]
   max-[690px]:w-[360px]
   max-[599px]:w-full
    border-black border-r-2"
>
  <div class="text-aliceBlue">
    <nav
      class="_shadowText1 bg- dropshadow-3xl pl-4 pr-2 w-full absolute z-10 bottom-0 mb-2"
    >
      <div class="text-">
        <div id="site-logo" class="text-4xl">Elsa Hovey</div>
      </div>
      <MenuItems />
    </nav>
  </div>

  <Image src={ProfilePic} alt="" class="absolute top-0 z-0 h-screen" />
</header>
