  ---
  import {Image} from "astro:assets";
  import Img3 from "./public/icons/current/email.png";
  import Img4 from "./public/icons/current/github.png";
  
  const posts = [
    {
      website: 'github',
      title: "wordpress users",
      image: Img4,
      url: "http://theindoorjungleproject.com",
      p: "The Indoor Jungle Project- currently a blog about plants and house projects",
      github: "https://github.com/elsahv/php-template-blog",
    },
    {
      website: 'email',
      title: "and dietitians/ nutritionists",
      image: Img3,
      url: "http://writingtobetterhealth.com",
      p: "Writing to Better Health- A blog template for now, and future blog regarding nutrition and mental wellness",
      github: "https://github.com/elsahv/writing-to-better-health",
    },
  ];
  ---
  
  
  <header class="w-full bg-aquamarine border-b-2 border-cerulean flex flex-row justify-end md:fixed relative z-10" >
      <nav class="2xl:py-5 md:pt-[25px] p-3">
        <div class="flex">
            <div class="mt-1">
              <div id="website-navigation" class="flex space-x-4">
                <!-- <div class="text-aquamarine py-2 px-3 flex items-center bg-onyx rounded">All featured sites</div> -->
                
              {posts.map((post) => (
                <div class="border border-black bg-rosyBrown text-aquamarine py-2 px-3 rounded-md">
                  <a href="/">
                  <Image src={post.image} alt="" width={35} height={35}/>
                  </a>
                  </div>
              ))}
              </div>
        </div>
      </nav>
    </header>
