---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";

const menuItems = [
  {
    title: "about",
    scrollLink: "/#about",
  },
  {
    title: "contact",
    scrollLink: "/#contact",
  },
];
---

<div class="bg-parchment border-black border-b">
  <header
    class="pb-[45px] md:fixed relative md:left-0 top-0 z-50 h-screen 2xl:w-1/4 lg:w-[390px] md:w-[345px] max-[690px]:w-[400px] max-[599px]:w-full
    w-full border-r- border-b-2 border-black"
  >
    <nav
      class="_shadowText1 text-aliceBlue dropshadow-3xl pl-4 pr-2 w-full absolute z-10 bottom-0 mb-2"
    >
      <p class="text-lg mb-1 pb-1 pl-2">
        <span class="text- text-3xl">
          Hi there, I'm
          <span class="text-munsell">Elsa.</span>
          <br /></span
        >
        <span class="text-md bg-test pr-5 mt-5">
          I'm the developer who's built:
          <a
            href="/#lc"
            class="hover:text-test1 font- underline hover:no-underline"
            >Laughing Coyote Dev</a
          >
          and
          <a
            href="/#rq"
            class="hover:text-aquamarine hover:underline opacity-80"
            >The Running Quail.
          </a>
        </span>
      </p>

      <ul id="map-links-container" class="pl-2 pb-5">
        {
          menuItems.map((menuItem) => (
            <li class="hover:text-aquamarine">
              <a href={menuItem.scrollLink}>-{menuItem.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Image
      src={ProfilePic}
      alt=""
      class="absolute bottom-0 z-0 h-screen border border-t-black border-r-black"
    />
  </header>
</div>
