---
import Header from "../components/Header.astro";
import Intro from "../components/sections/Intro.astro";
---

<div
  id="LEFT-PANEL-wrapper"
  class="opacity-50 duration- bg-[#88B7B5] border-r border-black 2xl:ml-[25px] mt-[55px] pr-3 md:h-screen md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div
    id="LEFT-PANEL-container"
    class="bg- pt-5 py-5 bg-aliceBlue border-r-2 border-onyx"
  >
    <Header />
    <Intro />

    email form contact
  </div>
</div>
