---
const menuItems = [
  {
    title: "Javascript projects",
    scrollLink: "/#javascript-projects",
  },
  // {
  //   title: "Featured Websites",
  //   scrollLink: "/#javascript-projects",
  // },
  {
    title: "Php- Wordpress ",
    scrollLink: "/#php-wordpress",
  },
  // {
  //   title: "Creative Projects",
  //   scrollLink: "/#javascript-projects",
  // },

  {
    title: "Contact",
    scrollLink: "/#contact",
  },
];
---

<ul id="map-links-container" class="bg- pb-5 pt-1">
  {
    menuItems.map((menuItem) => (
      <li>
        <a class="text- hover:font-bold" href={menuItem.scrollLink}>
          -{menuItem.title}
        </a>
      </li>
    ))
  }
</ul>
