---
const menuItems = [
  {
    title: "Javascript Projects",
    scrollLink: "/#js",
  },
  {
    title: "Php- Wordpress",
    scrollLink: "/#php",
  },
  {
    title: "Contact",
    scrollLink: "/#contact",
  },
];
---

<ul id="map-links-container" class="bg- pb-5 pt-1">
  {
    menuItems.map((menuItem) => (
      <li>
        <a class="text- hover:font-bold" href={menuItem.scrollLink}>
          -{menuItem.title}
        </a>
      </li>
    ))
  }
</ul>
