---
const menuItems = [
  // {
  //   title: "About",
  //   scrollLink: "/#about",
  // },
  // {
  //   title: "Featured Websites",
  //   scrollLink: "/#featured-websites",
  // },

  // {
  //   title: "Contact Me",
  //   scrollLink: "/#contact-me",
  // },

  {
    title: "Web Development ",
    scrollLink: "/web-development",
  },
  {
    title: "Writing",
    scrollLink: "/writing",
  },

  {
    title: "Contact Me",
    scrollLink: "/#contact-me",
  },
];
---

<ul id="map-links-container" class="pl-1 pb-5">
  {
    menuItems.map((menuItem) => (
      <li>
        <a class="text- hover:font-bold" href={menuItem.scrollLink}>
          -{menuItem.title}
        </a>
      </li>
    ))
  }
</ul>
