---
const menuItems = [
  {
    title: "About",
    scrollLink: "/",
  },
  {
    title: "Featured Websites",
    scrollLink: "/#javascript-projects",
  },

  {
    title: "Contact Me",
    scrollLink: "/#contact",
  },
];
---

<ul id="map-links-container" class="pl-1 pb-5">
  {
    menuItems.map((menuItem) => (
      <li>
        <a class="text- hover:font-bold" href={menuItem.scrollLink}>
          -{menuItem.title}
        </a>
      </li>
    ))
  }
</ul>
