---
import { Image } from "astro:assets";
import lc from "../images/lc.jpg";
import rq from "../images/rq.png";
import wtbh from "../images/wtbh.png";
import jungle from "../images/jungle.png";
// import FileOpen from "../../public/icons/file.png";
// import Github from "../../public/icons/github.png";
// import Banner from "./Banner.astro";
import Footer from "./Footer.astro";

const projects = [
  {
    title: "Laughing Coyote Dev",
    screenshot: lc,
    p: "website solutions for small business/ creatives.... Above is my main project, the Laughing Coyote Dev, a blog and freelance service in progress. ist the languages, tools... an online resource to help small businesses get their website started. Laughing coyote is going to be a resource for small business owners. I wanted to find a way to simplify the process and reduce the overwhelm of figuring out how to build a website, use a website, and market yourself... all on top of worrying about your own business. Scroll down to see other projects!",
    description:
      "Laughing Coyote Dev- going to be a resource for small business owners.",
    url: "https://laughingcoyote.dev",
    github: "https://github.com/elsahv/--LC-astro",
  },
  {
    title: "The Running Quail",
    screenshot: rq,
    p: "an online bulletin board for the Morongo Basin Community.atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "RQ is going to be a resource for small business owners.   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optio vero sed itaque odio, voluptatem maxime nemo aperiam! Ducimus animi repudiandae corporis.   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optiimi repudiandae corporis.",
    url: "https://therunningquail.com",
    github: "https://github.com/elsahv/-the-running-quail",
  },
  {
    title: "Writing to Better Health",
    screenshot: wtbh,
    p: "ADD mindmap/diagrams for bettering health - thru WTBH. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit",
    description: "ADD mindmap/diagrams for bettering health - thru WTBH.   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optiimi repudiandae corporis.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optiimi repudiandae corporis.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optio vero sed itaque odio, voluptatem maxime nemo aperiam! Ducimus animi repudiandae corporis.",
    url: "https://writingtobetterhealth.com",
    github: "https://github.com/elsahv/writing-to-better-health",
  },
  {
    title: "The Indoor Jungle Project",
    screenshot: jungle,
    p: "a horror-themed botany journal. atque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sitatque quaerat. Quia delectus quidem natus architecto. Lorem ipsum dolor sit  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum voluptatibus culpa, at non quos earum, perferendis optiimi repudiandae corporis.",
    description: "a horror-themed botany journal.",
    url: "https://theindoorjungleproject.com",
    github: "https://github.com/elsahv/-the-indoor-jungle-project",
  },
];
---
<div class="">
<div class="md:mt-[50px] mt-[75px] lg:pl-[35px] md:pl-5 pl-0 max-h-screen snap-y snap-mandatory overflow-y-scroll">
  {
    projects.map((website: any) => (
      <div id="sq-wrapper" class="2xl:p-5 p-1 mb-[20px] mr-5 md:pl-4 pl-1 snap-start">
        <div id="sq" class="mr-5 mb-[75px] dropshadow-lg snap-center scroll-smooth">
          <a href={website.url} target="_blank" rel="noopener noreferrer">
                      <Image  
                        src={website.screenshot}
                        alt=""
                        class="ml-5 2xl:m-5 m-2 border border-rosyBrown hover:border-carribean opacity-80 hover:opacity-100 "
                      />
            <div id="content-wrapper" class="xl:px-5 px-0">
              <div id="content-container" class="px-5">
              <div id="content-wrapper" class="ml-1 mt-3 py-2 pl-1">
                <!-- TODO: MAKE HOVER TEXT/BG-  COLOR CHANGES CONDITIONAL v-->
                         
                <p class="2xl:px-[70px] md:px-2 px-1 mb-5 opacity-90 text-onyx">{website.p}</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    ))
  }
</div>
<Footer />
</div>
