---
import Footer from "../../components/Footer.astro";
import Portfolio from "../../components/sections/Portfolio.astro";
---

<section
  id="right-side-panel"
  class="overflow-y-scroll overflow-x-hidden md:absolute relative right-0 md:top-0 bottom-0 md:w-3/5 w-full md:h-screen h-[100%] bg-munsell text-onyx"
>
  <Portfolio />
  <Footer />
</section>
