---
import About from "../components/About.astro";
---


<section id="left-panel" class="overflow-y-scroll overflow-x-hidden md:absolute relative md:left-0 top-0 z-50 md:h-screen h-[100%] md:w-2/5 w-full bg-white border-r-2 border-cerulean">
   <About /> 
   <!-- CONTACT -->
   <div class="p-[20px]">
         <p ="">Has my portfolio piqued your interest? If so, you can contact me at
                <a ="underline px-2"
                   href="mailto:elsahvy@gmail.com"
                 >
                  elsahvy@gmail.com.
                 </a>
                 Looking forward to hearing from you!
                  </p>
                  
               </div>
               </section>