---
import { Image } from "astro:assets";
import Self from "../../public/self.jpg";
import JtLogo from "../../public/jt-logo.png";
---

<section
  id="left-side-panel"
  class="pb-[45px] overflow-y-scroll overflow-x-hidden md:absolute relative md:left-0 top-0 z-50 md:h-screen h-[100%] md:w-2/5 w-full md:border-r-2 border-black"
>
  <div class="grid 2xl:grid-cols-2 grid-cols-1">
    <Image
      class="border-2 border-black 2xl:w-full w-2/3 rounded-br"
      src={Self}
      alt=""
    />

    <div class="text-lg flex items-end pt-[50px] px-5 pr-[50px] h-full">
      <div class="text-onyx">
        <h1 id="future-h1" class="text-2xl font-semibold">
          Hi there, I'm Elsa... a web developer based in Joshua Tree, CA.
        </h1>
        <p class="">
          I currently build small brochure websites for small business owners.
          Listed on the right --> <span>(or below for mobile!)</span> are some of
          my featured websites projects, all currently a work in progress.
        </p>
      </div>
    </div>
  </div>

  <div class="grid 2xl:grid-cols-2 grid-cols-1">
    <p class="pb-5 pt-5 p-[20px]">
      Over the last decade, I've hoarded and thought of many different and
      creative ideas. Since 2019, I've decided to learn how to bring these ideas
      to life through javascript progamming and frameworks.
    </p>

    <div class="">
      <Image src={JtLogo} alt="laughing coyote logo" class="w-full" />
    </div>
  </div>
  <p class="pl-5 pt-[50px] max-w-[650px]">
    My days are spent working on my websites, and freelance projects. I am also
    very interested in working with other developers to gain team building
    experience, and build up a network to bounce ideas off of. "I became a web
    developer to bring my ambitions to life... now let me help you with yours!"
  </p>

  <!-- CONTACT -->
  <!-- <div id="contact" class="text-right mt-5 pt-[30px]">
         <p class="pr-5">Has my portfolio piqued your interest? If so, you can contact me at
                <a class="underline px-2"
                   href="mailto:elsahvy@gmail.com"
                 >
                  elsahvy@gmail.com.
                 </a>
                 Looking forward to hearing from you!
                  </p>
               </div> -->
</section>
