---
import About from "../components/shared/About.astro";
import Contact from "../components/sections/Contact.astro";
import Header from "../components/ui/Header.astro";
import { RiArrowRightUpFill } from "react-icons/ri";
---

<div
  id="LEFT-PANEL-wrapper"
  class="bg- border-r border-black 2xl:p-5 p-2 md:h-screen 2xl:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div id="left-panel-container" class="ml-1 md:pr-5 pr-2 md:mr-5 mr-3">
    <Header />
    <!-- TODO: FINISH ABOUT-ME CONTENT --v -->
    <!-- *- paragraph1- Background: Include details about your background, such as where you're from, educational history, or career path. -->
    <!-- *- paragraph2- Passions & Interests: Highlight your main passions, hobbies, or things that drive you (e.g., travel, technology, art, helping others). -->
    <!-- *- paragraph3- Skills & Strengths: Mention key skills or strengths that define you professionally or personally. -->
    <!-- *- paragraph4- Personal Philosophy/Values: Share your core values, guiding principles, or a brief personal philosophy. -->
    <!-- *- paragraph5- Future Aspirations: End with a note on your future goals or aspirations, giving readers insight into what you're working toward. -->

    <!-- ? CONTENT TO COME BACK TO: [1].I wanted to utilize my skills from previous work experiences.  [2]. Portfolio-First Design: Build sites that feel like immersive galleries or journals -->

    <About
      title="Hi there, I'm Elsa."
      mainImg="https://dl.dropboxusercontent.com/scl/fi/v987mn7uciubojuyzt2l0/eh-img.jpg?rlkey=kud67wutqibhy9iwna9z50679&st=4vy6xe1e&dl=0"
      paragraph1="I weave stories, web-development, and design together"
      paragraph2="My interests with programming started when I wanted to bring my own passion projects to life. I've been fortunate to explore and learn a lot of different things, such as completing a bachelors degree in Nutrition and Food Science, or learning how to craft a compelling story. However, I had felt that I was missing out on opportunities with exploring more creative fields, and randomly just started googling html and css stuff. I've been hooked since then, it had felt empowering to do something as simple as changing a 'green square into a pink one.'"
      paragraph3="I currently work with javascript-frameworks and custom PHP, wordpress-themes. My expertise with frontend and backend tools were gained through project-learning and combining unique niches.  . "
      paragraph4="I build and declutter messy websites... and turn them into clean, high-performing designs. All of my websites are designed to reduce cognitive overload, maintain focus, and make navigation more straight forward."
      paragraph5="My goals are to build and grow my 4 side-projects. I'm currently working towards pushing my creativity to the limits, all while exploring side hustle potentials."
    />

    <!-- TODO: FINISH  ABOUT-ME  CONTENT --^ -->
    <div id="about-content-wrapper" class="bg- opacity-90 hover:opacity-100">
      <div id="about-me" class="bg- mb-5 pb-5">
        <!-- <img
          src="https://dl.dropboxusercontent.com/scl/fi/v987mn7uciubojuyzt2l0/eh-img.jpg?rlkey=kud67wutqibhy9iwna9z50679&st=4vy6xe1e&dl=0"
          alt=""
          class="2xl:w-1/2 w-3/4 mt-2 pr-5 pl-2"
        /> -->
        <div id="about" class="bg-test2 px-3 pt-5">
          <div class="flex items-center">
            <p>
              You can find most of my featured work over at <span
                class="opacity-80 underline"
              >
                <a href="/laughing-coyote-dev"> Laughing Coyote Dev. </a>
              </span>
              <div class="mb-1 ml-1 text-3xl">
                <RiArrowRightUpFill />
              </div>
            </p>
          </div>

          <p class="pl-1">
            Now I do the sa me for other clients... my days are spent creating
            niche websites and solutions for small business owners and
            creatives. You can read more{" "}
            <a class="underline" href="/laughing-coyote-dev"> here. </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    id="left-panel-conditional-contact-wrapper"
    class="2xl:visible invisible"
  >
    <Contact />
  </div>
</div>
