---
import Contact from "../components/sections/Contact.astro";
import Header from "../components/ui/Header.astro";
import AboutMe from "../components/sections/AboutMe.astro";
---

<div
  id="LEFT-PANEL-wrapper"
  class="border-r border-black 2xl:p-5 p-2 md:h-screen 2xl:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div id="LEFT-PANEL-container" class="ml-1 md:pr-5 pr-2 md:mr-5 mr-3">
    <Header />
    <AboutMe />
    <div id="contact-wrapper-conditonal" class="2xl:visible invisible">
      <Contact />
    </div>
  </div>
</div>
