---
import Header from "../components/Header.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> 
    <style>
      p{ 
        padding: 20px;
      }
    </style> 
    <title>Elsa Hovey</title>

  </head>
  <body class="">
    <Header />
    <section class="grid grid-cols-2  ">
      <slot />
    </section>

   <!-- <Footer /> -->
  </body>
</html>

    