---
import Contact from "../components/sections/Contact.astro";
import MainLayout from "./MainLayout.astro";
import Website from "./Website.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div id="flex" class="mt-5 2xl:p-5 flex 2xl:flex-row flex-col dropshadow-3xl">
    <div id="sq1" class="p-3 2xl:w-1/2">
      <!-- <a href="/#my-projects" class="text-carribean font-extrabold pl-2">
        {"<--"}
      </a> -->
      <div class="p-5 m-1 flex flex-col h-full">
        <h2 class="pt-5 mt-5 font-bold text-4xl">{frontmatter.title}</h2>
        <p class="pt-1 text-lg">{frontmatter.description}</p>
      </div>
    </div>
    <div id="sq2" class="bg-test2 border-black border">
      <a href={frontmatter.websiteUrl}>
        <img src={frontmatter.image.url} alt="" class="hover:opacity-80" />
      </a>
    </div>
  </div>

  <div
    class="m-5 2xl:px-[100px] px-4 py-[50px] 2xl:text-2xl md:text-lg sm:text-md"
  >
    <slot />
    <Contact />
  </div>
</MainLayout>
