---
import DynamicAbout from "../components/DynamicAbout.astro";
import Footer from "../components/Footer.astro";
import LeftPanelContact from "../components/lc-tests/LeftPanelContact.astro";
import Contact from "../components/sections/Contact.astro";
import BackBtn from "../components/ui/BackBtn.astro";
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="w-1/2">
    <LeftPanelContact />
  </div>
  <div id="markdown-post" class="text-lg 2xl:p-5">
    <div
      id="right-side-markdown-container"
      class="h-screen md:absolute relative right-0 md:w-3/5 w-full overflow-y-scroll overflow-x-hidden 2xl:p-5 md:p-3"
    >
      <section class="bg- md:mx-5 mx-5 p-5">
        <div class="p-5 mr -5">
          <div id="" class="bg-">
            <div class="mt-5 pt-5">
              <h1 class="text-7xl w-3/4 bg-">
                {frontmatter.title}
              </h1>
              <div id="images-wrapper" class="bg-">
                <a
                  href={frontmatter.websiteUrl}
                  target="_blank"
                  rel="noreferrer"
                >
                  <img
                    id="PRIMARY-image"
                    src={frontmatter.image.url}
                    alt=""
                    class="opacity-80 border border-rosyBrown drop-shadow-3xl rounded mt-[50px] col-span-2"
                  />
                </a>
              </div>
            </div>
          </div>
          <div id="website-content" class="bg- pl-3 dropshadow-3xl">
            <div class="bg- my-5 py-5 pt-2 opacity-80 text-lg">
              <div class="py-5 mt-5 bg-">
                <slot />
              </div>
              <Contact />
              <BackBtn />
            </div>
          </div>
        </div>
        <Footer />
      </section>
    </div>
  </div>
</MainLayout>
