---
import Footer from "../components/Footer.astro";
import Websites from "../components/Websites.astro";
---

<section id="right-panel" class="overflow-y-scroll overflow-x-hidden absolute right-0 h-screen bg-munsell w-3/5">
    <div class="m-5 pl-3 py-[20px] pr-[10px]">
      <Websites />
      <!-- <span id="website-navigation">website nav</span> -->
        <Footer />
      </div>
</section>