---
import Footer from "../components/Footer.astro";
import Websites from "../components/Websites.astro";
---
<section id="right-panel" class="overflow-y-scroll overflow-x-hidden md:absolute relative right-0 md:top-0 bottom-0 md:w-3/5 w-full md:h-screen h-[100%] bg-munsell ">
  <div class="m-5 pl-3 py-[20px] pr-[10px]">
    <Websites />
    <Footer />
    </div>
</section>