---
import WebsitesCta from "../components/sections/WebsitesCta.jsx";
import Header from "../components/ui/Header.astro";
---

<div
  id="LEFT-PANEL-wrapper"
  class="bg- border-r border-black 2xl:p-5 p-2 md:h-screen md:absolute relative md:left-0 sm:bottom-0 md:w-2/5 w-full overflow-y-scroll overflow-x-hidden"
>
  <div id="LEFT-PANEL-container" class="bg- ml-1">
    <Header />
    <!-- <AboutMe /> -->
    <WebsitesCta />
  </div>
</div>
