---
import { IoArrowBack } from "react-icons/io5";
---

<div id="back-btn-wrapper" class="mt-5 pt-5">
  <button
    id="back-btn"
    class="bg-onyx hover:bg-aquamarine hover:text-black text-white border border-black rounded text-6xl mt-5 my-5 p-1"
  >
    <a href="/"><IoArrowBack /></a>
  </button>
</div>
