---
import BackBtn from "./BackBtn.astro";
const frontmatter = Astro.props;
const { title } = frontmatter;
---

<div id="bg-test1" class="bg-">
  <!-- <BackBtn /> -->
  <h1>{title}</h1>
  <img src="" alt="" />
</div>
